.chat-container {
  display: flex;
  height: 100%;
  margin: 1rem;
}
.chathistory {
  width: 50%;
  border: solid;
  border-color: lightblue;
}
.chatdisplay {
  height: 70%;
}
.showchat {
  width: 50%;
  border: solid;
  border-color: lightblue;
  position: relative;
}
.userchat {
  display: flex;
  padding: 1rem;
  border-bottom: 2px solid #e0e0e0;
}
.avatar {
  margin-right: 1.1rem;
}
.topbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.bottom-bar {
  display: flex;

  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
}
.input-box {
  padding: 1rem;
}
.send {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}
.chatavatar {
  display: flex;
}
.username {
  margin-left: 1rem;
}
@media only screen and (max-width: 768px) {
  .chat-container {
    flex-direction: column;
  }
  .chathistory {
    width: 100%;
    margin-bottom: 2rem;
  }
  .showchat {
    width: 100%;
    height: 60%;
  }
  .chatdisplay {
    height: 50%;
  }
  .bottom-bar{
    position: relative;
  }
}
