.topbar-admin{
    background-color: gray;
    display:  flex;
}
.left{
    color: white;
    padding: 1rem;
    font-weight: bolder;
    margin-left: 4rem;
    font-size: xx-large;
}
.admin-heading{
    margin-left: 1rem;
}


